### 1. Counter
#### Returns the number of characters for every input word.

In [ ]:
word = "python"

def counter(word):
    return len(word)

counter(word)

### 2. Second element of every tuple
#### Loop through all the tuples of elements and print put the second element of each tuple in the loop.

In [ ]:
elements = (
    (1, 5),
    (2, 6),
    (3, 7),
    (4, 8)
)

for e_1, e_2 in elements:
    print(e_2)

### 3. Print sum
#### Calculates and prints out the sum of variables

In [ ]:
a, b, c = 1, 2, 3

result = a + b +c

print(result)

### 4. Tuple of dictionary
#### Convert the tuple into a dictionary and print it out.

In [ ]:
customer = (
    ('id', '987654321'),
    ('name', 'john'),
    ('surname', 'trond'),
    ('rented_books', 3)
)

print(dict(customer))

### 5. Certain passwords only
#### Loop over the items of the passwords list and in each interation print out the item if the item contains the strings 'ba' or 'ab' inside.

In [ ]:
passwords = ['ccavfb', 'baaded', 'bbaa', 'aaeed', 'vbb', 'aadeba', 'aba', \
             'dee', 'dade', 'abc', 'aae', 'dded', 'abb', 'aaf', 'ffaec']

for word in passwords:
    if 'ba' in word or 'ab' in word:
        print(word)
    else:
        continue

### 6. Anybody in there?
#### Takes a list and another object as parameters. Checks if that object is in the list. Adds the object to the list if the object is not in the list. Returns a list.

In [ ]:
def foo(lst, obj):
    if obj not in lst:
        lst.append(obj)
    return lst

my_lst = []
foo(my_lst, "Sharum")

### 7. Integers of non empty lists
#### Loop through the elements list and print out the first item of each list if the item is an integer.

In [ ]:
elements = [
    [1, 4, 6, 7],
    [4, 5, 6],
    [6, 7, 8],
    [],
    ["nodata", "nodata"],
    [1, 3]
]

for item in elements:
    if item and isinstance(item[0], int):
        print(item[0])

### 8. Simple sum
#### Takes two numbers as parameters and returns their sum.

In [ ]:
def foo(x, y):
    return x + y

foo(3, 4)

### 9. Sequence index
#### Takes a list as parameter and returns the first item of the list.

In [ ]:
def foo(lst):
    return lst[0]

sharum_list = ["chi", "kai", "kha", "dal"]
foo(sharum_list)

### 10. Sequence last item
#### Takes a list as parameter and returns the last item of the list.

In [ ]:
def foo(lst):
    return lst[-1]

sharum_list = ["chi", "kai", "kha", "dal"]
foo(sharum_list)

### 11. Sequence first and last
#### Takes a list as parameter and returns the first and the last item of the list.

In [ ]:
def foo(lst):
    return lst[0], lst[-1]

sharum_list = ["chi", "kai", "kha", "dal"]
foo(sharum_list)

### 12. List maximum
#### Returns the maximum number of the list.

In [ ]:
def foo(lst):
    return max(lst)

numbers_list = [1, 4, 7, 3, 5]
foo(numbers_list)

### 13. List concatenation
#### Takes three lists as parameters and returns one concatenated list.

In [ ]:
def foo(lst1, lst2, lst3):
    return lst1 + lst2 + lst3

numbers_list_1 = [1, 4, 7]
numbers_list_2 = [3, 5]
numbers_list_3 = [9, 2]
foo(numbers_list_1, numbers_list_2, numbers_list_3)

### 14. Multiple arguments call
#### Takes multiple arguments as parameters, add them to the list and double the values.

In [ ]:
def foo(*args):
    double_list = [x*2 for x in args]
    return double_list

foo(1, 4, 7, 3, 5)

### 15. Multiple arguments function definition
#### Takes indefinite number of arguments and returns a list containg all the argument values.

In [ ]:
def foo(*args):
    return list(args)

foo(3, "chi", 6, "dal")

### 16. Multiple keyword arguments
#### Takes an indefinite number of keyword arguments and returns a dictionary containg all the argument names and the argument values.

In [ ]:
def foo(**kwargs):
    return dict(kwargs)

foo(a = 1, b = 7, c = 66)

### 17. Concatenate lists indefinite
#### Takes an indefinite number of lists and returns the concatenated list.

In [ ]:
def foo(*args):
    lst = []
    for each_list in args:
        lst = lst + each_list
    return lst

numbers_list_1 = ["dal", 4, 7]
numbers_list_2 = [3, "kha"]
numbers_list_3 = [9, "chi"]
foo(numbers_list_1, numbers_list_2, numbers_list_3)

### 18. True if all
#### Takes an indefinite number of lists as arguments. Returns true if all lists have at least one item. Returns false if one or more lists are empty.

In [ ]:
def foo(*args):
    return all(args)

numbers_list_1 = [1, 4, 7]
numbers_list_2 = []
numbers_list_3 = [9, 2]
foo(numbers_list_1, numbers_list_2, numbers_list_3)

### 19. Decimal universe
#### Print out all numbers from 0 to 10 with an increment of 0.1.

In [ ]:
for i in (x / 10 for x in range(0, 101)):
    print(i)

### 20. Number info
#### Takes a number as a parameter. Returns a dictionary that has infromation about the sign and the parity of the input number.

In [ ]:
def foo(number):
    return dict(sign = "positive" if number > 0 
                else ("negative" if number < 0 
                else "zero"),
                parity = "odd" if number % 2 == 1 
                else ("even" if number % 2 == 0
                else "non integer"))

foo(6)

### 21. Sequence last item if last item
#### Takes a list as a parameter. Returns the last item of the list. Returns the string "Empty list" if the input list has no items.

In [ ]:
def foo(lst):
    if len(lst) > 0:
        return lst[-1]
    else:
        return "Empty list."
    
lst = []
foo(lst)

### 22. The inside of a list
#### Takes a list as a parameter and returns a list with all but the first and the last item of the input list.

In [ ]:
def foo(lst):
    return lst[1:-1]

lst = [5, 7, 0, 2]
foo(lst)

### 23. Remove if too big and add new
#### Takes a list and an object as arguments. If the list has three items remove the first item of the list and append the object to the end of the list. Return the modified list or return None if the list did not have three items.

In [ ]:
def foo(lst, item):
    if len(lst) >= 3:
        lst.pop(0)
        lst.append(item)
        return lst
    
lst = [5, 7, 0, 2]
item = 99
foo(lst, item)

### 24. Every seven
#### Takes a list as parameter and returns the first item and then every subsequent 7th item of the input list.

In [ ]:
def foo(lst):
    return lst[::7]

lst = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', \
       'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', \
       'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', \
       'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
foo(lst)

### 25. Five every seven
#### Return  5 items at a step of 7.

In [ ]:
from itertools import chain

def foo(lst):
    list_of_lists = [lst[i:i+5] for i in range(0, len(lst), 7)]
    return list(chain.from_iterable(list_of_lists))

lst = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', \
       'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', \
       'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', \
       'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
foo(lst)

### 26. X every y
#### Return x items at a step of y.

In [ ]:
from itertools import chain

def foo(lst, x, y):
    list_of_lists = [lst[i:i+x] for i in range(0, len(lst), y)]
    return list(chain.from_iterable(list_of_lists))

lst = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', \
       'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', \
       'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', \
       'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
foo(lst, 1, 5)

### 27. Mean of list extraction (complex)
#### Calculate and print out the mean of all items at a step of two.

In [ ]:
numbers = [1, 4, 6, 8, 9, 6, 7, 8, 9, 3, 44, 55, 6, 77, 88, 997, 7, \
           6, 7, 7, 8, 9, 8, 8, 8, 9, 8, 8, 0, 9, 0, 9, 8, 9, 8, 8, \
           8, 9, 9, 9, 9, 0, 1, 3, 5, 6, 7, 8, 7, 7, 7, 8, 7, 7, 5, \
           4, 5, 6, 5, 56, 4, 3, 4, 5, 6, 6, 7, 8, 8, 9]

every_two = numbers[::2]
print(sum(every_two) / len(every_two))

### 28. Odd lists
#### Takes a list as parameter and returns the middle item of the list.

In [ ]:
def foo(lst):
    middle_item = int(len(lst) / 2)
    return lst[middle_item]

numbers = [1, 4, 6]
foo(numbers)

### 29. Even lists
#### Takes a list as parameter. Returns the middle item of the list. Return the string "Bad list" if the input has no items or it has an even number of items.

In [ ]:
def foo(lst):
    if len(lst) % 2 == 0:
        return "Bad list"
    else:
        middle_item = int(len(lst) / 2)
        return lst[middle_item]
    
numbers = [1, 4, 6, 7]
foo(numbers)

### 30. Anti-duplicator
#### Takes a list as parameter. Removes its duplicates. Returns the cleand list.

In [ ]:
def foo(lst):
    return list(set(lst))

numbers = [1, 4, 6, 8, 9, 6, 7, 8, 9, 3, 44, 55, 6, 77, 88, 997, 7, \
           6, 7, 7, 8, 9, 8, 8, 8, 9, 8, 8, 0, 9, 0, 9, 8, 9, 8, 8, \
           8, 9, 9, 9, 9, 0, 1, 3, 5, 6, 7, 8, 7, 7, 7, 8, 7, 7, 5, \
           4, 5, 6, 5, 56, 4, 3, 4, 5, 6, 6, 7, 8, 8, 9]
foo(numbers)

### 31. Random range
#### Returns a list of 1000 random integers. The integer values should be between 1 and 10, including 1 and 10.

In [ ]:
import random

def foo():
    return [random.randint(1, 10) for i in range(1000)]

# def foo():
#     lst = []
#     for i in range(1000):
#         lst.append(random.randint(1, 10))
#     return lst

foo()

### 32. Banned "xxx"
#### Takes a string as argument and returns true if "xxx" is in that string and false if it is not.

In [ ]:
def foo(word):
    if "xxx" in word:
        return True
    else:
        return False
    
word = "chi"
foo(word)

### 33. Banned "xxx" lists
#### Takes a list as parameter. Returns all the items that contain "xxx".

In [ ]:
def foo(lst):
    words = []
    
    for word in lst:
        if isinstance(word, str) and "xxx" in word:
            words.append(word)
        else:
            continue
    return words
        
sharum_list = ["chi", "kaixxx", "kha", "dal", "xxx"]
foo(sharum_list)

### 34. Dictionary sum
#### Takes a dictionary as parameter and returns the sum of the dictionary values.

In [ ]:
# def foo(my_dict):
#     result = 0
#     for element in my_dict:
#         result += my_dict[element]
#     return result

def foo(my_dict):
    return sum(my_dict.values())
        
my_dict = {'a' : 1, 'b' : 4, 'c' : 5}
foo(my_dict)

### 35. Dictionary lists sum
#### Takes a dictionary of lists as parameter and returns the sum of all items of all lists.

In [ ]:
def foo(lsts):
    lst = []
    for element in lsts:
        lst += lsts[element]
    return sum(lst)

# def foo(dicts):
#     lst = []
#     for key, value in dicts.items():
#         lst = lst + value
#     return sum(lst)

my_dict = {'a' : [1, 5], 'b' : [4, 7], 'c' : [5, 1]}
foo(my_dict)

### 36. Filter dictionary
#### Takes a dictionary as parameter. Returns a dictionary containing only the pairs whose values are greater than 4.

In [ ]:
def foo(my_dict):
    return dict((key, value) for key, value in my_dict.items() 
                if value > 4)

my_dict = {'a' : 1, 'b' : 4, 'c' : 5}
foo(my_dict)

### 37. Filter dictionary double
#### Takes a dictionary as parameter. Returns a dictionary containing only the pairs whose values are greater than 4 and they are integers.

In [ ]:
def foo(my_dict):
    return dict((key, value) for key, value in my_dict.items() 
                if value > 4 and isinstance(value, int))

my_dict = {'a' : 6, 'b' : 44.4, 'c' : 5}
foo(my_dict)

### 38. Chatbot v4.0

In [ ]:
from datetime import datetime
from difflib import SequenceMatcher

vocabulary = {
    "hello" : "Hello there!",
    "what's your name" : "My name is Roboto!",
    "what is your name" : "My name is Roboto!",
    "bye" : "Goodbye!",
    "what time is it" : datetime.now().strftime("%H:%M")
}
        
def talk(query, vocabulary):
    new_vocabulary = {key:[value, SequenceMatcher(None, query, key).ratio()] 
    for (key,value) in vocabulary.items()}
    return new_vocabulary[max(new_vocabulary, key=lambda k: new_vocabulary[k][1])][0]
            
talk("time", vocabulary)

### 39. What day is today?
#### Takes a date in the form of Y-M-D as parameter and returns the day for that date.

In [ ]:
from datetime import datetime

def foo(date):
    return datetime.strptime(date, "%Y-%m-%d").strftime("%A")

foo("1994-04-09")

### 40. Nine files
#### Create nine empty text files with pathnames day1.txt, day2.txt, etc.

In [ ]:
for number in range(1, 9+1):
    open("day{}.txt".format(number), "w").close()

### 41. Nine mindful files
#### Create nine empty files without overwrite them if they already exist.

In [ ]:
for number in range(1, 9+1):
    open("file{}.txt".format(number), "a").close()

### 42. Mean of all files
#### The two text files have some numbers. Calculate and print out the mean value of all the values of all the text files.

In [ ]:
from glob import glob
from re import compile

text_files = glob("*.txt")
lists = []

for text_file in text_files:
    with open(text_file) as file:
        lists.append(file.readlines())
        
all_lines = sum(lists, [])

matches = [compile("[0-9]+\.*[0-9]*").search(line) for line in all_lines]

numbers = [float(match.group(0)) for match in matches if match]

print(sum(numbers)/len(numbers))

### 43. Mean and write
#### Calculate the mean of all the numbers of all the text files and write the value inside a new mean.txt file.

In [ ]:
from glob import glob
from re import compile

text_files = glob("*.txt")
lists =[]

for text_file in text_files:
    with open(text_file) as file:
        lists.append(file.readlines())

all_lines = sum(lists, [])

matches = [compile("[0-9]+\.*[0-9]*").search(line) for line in all_lines]

numbers = [float(match.group(0)) for match in matches if match]

mean = sum(numbers)/len(numbers)

with open("mean.txt", "w") as file:
    file.write(str(mean))

### 44. Cirectory structure
#### Create 10 empty folders named 1 to 50.

In [ ]:
from os import makedirs

for i in range(1, 10+1):
    makedirs(str(i))

### 45. Nested directory structure
#### Create 10 empty folders named 1 to 10 and each of those folder should contain five empty subfolders named mon to fri.

In [ ]:
from os import makedirs

for folder in range(1, 10+1):
    makedirs(str(folder))
    
for folder in range(1, 10+1):
    for subfolder in ["mon", "tue", "wed", "thu", "fri"]:
        makedirs(str(folder) + "/" + str(subfolder))

### 46. Delete
#### Delete the untitled.txt.

In [ ]:
from os import remove

remove("untitled.txt")

### 47. Delete them all
#### Delete all the text files.

In [ ]:
from glob import glob
from os import remove

text_files = glob("*.txt")

for text_file in text_files:
    remove(text_file)

### 48. Seek and delete
#### Delete all the files that have the "xxx" or the "XXX" string.

In [ ]:
from glob import glob
from os import remove

text_files = glob("*.txt")

for text_file in text_files:
    with open(text_file) as file:
        content = file.read().lower()
        
    if "xxx" in content:
        remove(text_file)

### 49. The shortest straw
#### Print out the name of the file with the smallest file size.

In [ ]:
from glob import glob
from os import path

text_files = glob("*.txt")

sizes = {text_file:path.getsize(text_file) for text_file in text_files}

print(min(sizes, key=sizes.get))

### 50. Add gold
#### Modify the content of the metals.txt file.

In [ ]:
from json import load, dump

with open("metals.txt") as json_file_1:
    data = load(json_file_1)    

print("DATA", data)

data["metals"]["gold"] = {
    "conductivity": 33.5,
    "density": 0.255,
    "heat": 0.129,
    "melting point": 2171,
    "thermal expansion": 4.7,
    "yield strength": 288,
    "tensile strength": 441,
    "minimum impact energy": 22
    }

with open("metals.txt", "w") as json_file_2:
    dump(data, json_file_2)

### 51. Double dictionary values
#### Load the JSON data from some_specs_sth.txt as a dictionary. Calculate a new dict like the original one but with its values multiplied by two. The order of items doesn't matter.

In [ ]:
from json import load

with open("some_specs_sth.txt") as json_file:
    data = load(json_file)

print({key: float(value) * 2 for key, value in data.items()})

### 52. Get density
#### Load the file metals.txt as a dict and print out the density of steel.

In [ ]:
from json import load

with open("metals.txt") as json_file:
    data = load(json_file)
    print(data["metals"]["steel"]["density"])

### 53. Access JSON property
#### Implement a function that takes the 'metal', the 'property' and the 'filepath' as parameters and returns the property value of that metal.

In [ ]:
from json import load

def foo(metal, property, filepath):
    with open(filepath) as json_file:
        data = load(json_file)
        
        return data["metals"][metal][property]

### 54. Merge them
#### Merge three files (sen_1.txt, sen_2.txt, sen_3.txt) into one.

In [ ]:
from glob import glob

text_files = glob("sen_*.txt")
print(text_files)

with open("together.txt", "w") as outfile:
    for text_file in text_files:
        with open(text_file) as infile:
            for line in infile:
                outfile.write(line + "\n")

### 55. Renaming multiple files
#### Write a script that renames files in the folder 'files-to-rename' by adding/deleting a dash before the number.

In [ ]:
# To code.

### 56. Find questions
#### Extract and print out all the questions from the questions.txt file.

In [ ]:
from re import findall

with open("questions.txt") as file:
    content = file.read()
    print(findall("[A-Z][a-z ',]*\?", content))

### 57. Similarity between texts
#### Implement a function that takes two strings as parameters and outputs the similarity between them.

In [ ]:
from difflib import SequenceMatcher

def foo(string_1, string_2):
    return SequenceMatcher(None, string_1, string_2).ratio()

foo("Hello there!", "Hey there.")

### 58. Numbers in sentences
#### Write the method that returns the sum of numbers for queries containg the word "sum" and two integers.

In [ ]:
from re import findall

def foo(query):
    if "sum" in query:
        numbers = findall(r'\b\d+\b', query)
        numbers = [float(item) for item in numbers]
        
        return sum(numbers)
    
print(foo("What is the sum of 3 and 14?"))